<!DOCTYPE html>
<html>
  <head>
    <title>The Red Lion | After Hours</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="Calendar, St. Giles, Red Lion, Barton under Needwood" />
    <meta name="description" content="This is a site where you can purchase copies of the red lion after hours calender" />
  </head>
  <body>
    [[yield]]
  </body>
</html>
