<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="favicon.ico" />
    <title>The Red Lion | After Hours</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="Calendar, St. Giles, Red Lion, Barton under Needwood" />
    <meta name="description" content="This is a site where you can purchase copies of the red lion after hours calender" />
    [[template "analytics" .Site]]
  </head>
  <body>
    [[if ne "prod" .Site.Env]]
      <pre>This is the [[.Site.Env]] Environment. Google will not index this page</pre>
    [[end]]


    <div class="container" ng-controller="mainController" ng-cloak>
      [[yield]]
    </div>

    [[template "script" .Site]]

  </body>
</html>
